<div class="row">
    <form class="col s12" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Nome" id="nome" type="text" 
          class="validate" name="nome" [(ngModel)]="usuario.nome"
          required #nome>
          <div>
            {{ nome.className }}
          </div>
          <label for="nome">Nome</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="nome@email.com" id="email" type="email" 
            class="validate" name="email" [(ngModel)]="usuario.email"
            required email>
          <label for="email">Email</label>
        </div>
      </div> 
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    
  </div>
        
